body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    text-align: left; /* Ensure entire body content aligns left */
}

.main-content {
    background-color: #e6f2ff;
    color:#2e2e2e;
    padding: 20px;
    margin-left: 250px; /* To make space for the sidebar */
    padding: 20px;
    width: calc(100% - 250px); /* Take the remaining width */
    overflow-y: auto; /* Enable scrolling if content overflows vertically */
    flex-grow: 1;
    transition: margin-left 0.3s ease, width 0.3s ease; /* Smooth transition for content resize */
}


.sideBar.collapsed + .main-content{

    margin-left:80px;
    width: calc(100% - 80px);
    overflow-y: auto;
}

h1 {
    text-align: left; /* Align heading to the left */
    color: #333;
    margin: 0 0 20px; /* Add some spacing below */
}

.notifications-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.notification-card {
    background-color: #ffffff;
    border-left: 5px solid #0052cc;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: left; /* Ensure content aligns left */
}

.notification-title {
    margin: 0 0 10px;
    color: #333;
    font-size: 1.2rem;
}

.notification-message {
    margin: 0 0 10px;
    font-size: 1rem;
    color: #555;
}

.notification-timestamp {
    font-size: 0.85rem;
    color: #888;
}

/* .sidebar.collapsed + .main-container {

    margin-left:80px;
    width: calc(100% - 80px);
    overflow-y: auto;
} */

@media (max-width: 768px) {

    .main-container {
        margin-left: 80px;
        width: calc(100% - 80px);
        overflow-y: auto;
    }
}
